@font-face {
  font-family: "BDMegalona";
  src: url("/fonts/BDMegalona-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  /* Optimisations iOS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-Book.otf") format("opentype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-BookItalic.otf") format("opentype");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-RegularItalic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans";
  src: url("/fonts/messina-sans/MessinaSans-SemiBoldItalic.otf")
    format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("/fonts/messina-sans-mono/MessinaSansMono-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("/fonts/messina-sans-mono/MessinaSansMono-Bold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("/fonts/messina-sans-mono/MessinaSansMono-Book.otf")
    format("opentype");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("/fonts/messina-sans-mono/MessinaSansMono-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("/fonts/messina-sans-mono/MessinaSansMono-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Messina Sans Mono";
  src: url("/fonts/messina-sans-mono/MessinaSansMono-SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}